
<!-- -->
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}

{% block content %}
<div style="width: 450px;  margin: 10px auto; padding: 10px;">
<h2>Login</h2>
<form method="post">
  {% csrf_token %}
  {% if form.error_messages %}
    
  <strong>Advertencia: </strong> {{ form.get_invalid_login_error }}
  {% endif %}
  <div style="margin: 20px auto;">
   {{ form|crispy}}
  </div>
   <button type="submit" class="btn btn-primary">Login</button>
</form>
</div>
<div style="width: 450px;  margin: 0 auto; padding: 10px;">
<a href="{% url 'reset_password' %}"><button>Olvido su contraseña?</button></a>
<a href="{% url 'register' %}"><button>Crear cuenta</button> </a>


</div>

{% endblock %}