
  <h2>Bienvenido {{user|title}}</h2>

<div>
{% if user.image %}
    <img src="{{ user.image.url }}" hight=100px, width=90px>
{% endif %}
    <td><a href="{% url 'account_settings' user.id %}"><button>Account Settings</button></a></td>


    <h3>{{user.name}}</h3>
    <h4>{{user.email}}</h4>
    <h4>{{user.subplan}}</h4>
    {% if user.status %}
    <h4>Membership is active</h4>
    {% endif %}
</div>


<a href="{% url 'activities' %}">Activities Availables</a> 

<a href="{% url 'my_activities' %}">My activities</a> 


    <a href="{% url 'logout' %}">Logout</a> 