
<!-- -->
{% load crispy_forms_tags %}
{% block title %}Join Activity{% endblock %}

<div>
  <div align="right">
    <head>
      <title><h1>Vida website</h1></title>
      
      <div align="right">
  
  
    </head>
    <a href="{% url 'activities' %}" ><button type="button">Activities Availables</button></a> 
    <a href="{% url 'mysite' %}"><button type="button">My site</button></a>
    <a href="{% url 'my_activities' %}"><button type="button">My activities</button></a> 
    <a href="{% url 'contact' %}"><button class="btn btn-danger">Contact us</button></a>
    <a href="{% url 'logout' %}"><button type="button">Logout</button></a> 
      </div>
    </div>


{% block content %}
<div style="width: 450px;  margin: 10px auto; padding: 10px;">
<h2>Join Activity</h2>
<form method="post">
  {% csrf_token %}
  {% if form.error_messages %}
    
  <strong>Advertencia: </strong> {{ form.get_invalid_login_error }}
  {% endif %}
  <div style="margin: 20px auto;">
   {{ form|crispy}}
  </div>
   <button type="submit" class="btn btn-primary">Join Activity</button>
</form>
</div>


{% endblock %}