
<!-- -->
{% load crispy_forms_tags %}
{% block title %}Join Activity{% endblock %}

{% block content %}
<div style="width: 450px;  margin: 10px auto; padding: 10px;">
<h2>Join Activity</h2>
<form method="post">
  {% csrf_token %}
  {% if form.error_messages %}
    
  <strong>Advertencia: </strong> {{ form.get_invalid_login_error }}
  {% endif %}
  <div style="margin: 20px auto;">
   {{ form|crispy}}
  </div>
   <button type="submit" class="btn btn-primary">Join Activity</button>
</form>
</div>


{% endblock %}